version: '3'

services:
  reactapp:
    build: ./
    container_name: reactapp
    restart: always
    ports:
      - '3003:8080'
    command: 'npm run start'
    networks:
      - leapper-corporate_default

networks:
  leapper-corporate_default:
    external: true